---
import Layout from "../layouts/Layout.astro";
import LogoLarge from "../components/LogoLarge.astro";
---

<Layout title="piyp. A quarterly zine exploring things and stuff">
  <LogoLarge />
  <h1>
    Introducing piyp: a creative zine exploring photography and visual arts. Out
    quarterly.
  </h1>

  <p>coming soon.</p>
  <style>
    h1,
    p {
      margin: calc(2 * var(--base)) auto;
      font-size: calc(2 * var(--base-font-size));
      font-family: var(--body-font);
      max-width: 28em;
    }
  </style>
</Layout>
