---
import Layout from "../layouts/Layout.astro";
import LogoLarge from "../components/LogoLarge.astro";
---

<Layout title="piyp. A quarterly zine exploring things and stuff">
  <LogoLarge />
  <h1>
    Introducing piyp: a creative zine exploring photography and visual arts. <br />
    Released irregularly.
  </h1>

  <p>coming soon.</p>
  <style>
    h1,
    p {
      margin: calc(2 * var(--base)) auto;
      font-size: 30px;
      font-family: var(--body-font);
      max-width: 28em;
    }

    @media (min-width: 768px) {
      h1,
      p {
        font-size: calc(2 * var(--base-font-size));
      }
    }
  </style>
</Layout>
